@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.6s ease-in, opacity 0.6s ease-in,
        scale 0.2s ease-in-out;
}

.card:hover {
    scale: 1.03;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}
